{% extends 'layout.html' %}
{% block body %}

<div class="z-depth-4 navbar-fixed">
    <nav style="background-color:teal">
        <div class="container nav-wrapper">
            <a href="index.html" class="brand-logo"><strong>BHAROSA</strong></a>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#signup">Signup</a></li>
                <li><a href="#login">Login</a></li>
                <li><a href="#contact">Contact Us</a></li>
            </ul>
        </div>
    </nav>
</div>
    <ul class="sidenav" id="mobile-nav">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#signup">Signup</a></li>
        <li><a href="#login">Login</a></li>
        <li><a href="#contact">Contact Us</a></li>
    </ul>

    <div class="parallax-container">
        <div class="parallax">
            <img src="{{ url_for('static', filename = 'image/image.jpg') }}">
        </div>
    </div>

    <div class="block1">
        <section id="about" class="section scrollspy">
            <div class="container">
                <h1>Welcome to Bharosa<br>An Election Web App</h1>
                <p>
                    Welcome to Bharosa, an initiative by Govt. of India for E-voting as Decentralized Applications.
                    An election that is purely based on blockchain technology which is SAFE & SECURE.
                </p>
            </div>
        </section>
    </div>

    <div class="block3">
        <section id="about" class="section scrollspy">
            <div class="container">
                <a href="/signup/" class="waves-effect waves-light btn btn-large"><i class="material-icons left">person_add</i>Signup</a>
                <a href="/login/" class="waves-effect waves-light btn btn-large"><i class="material-icons left">person</i>Login</a>
            </div>
        </section>
    </div>
{% endblock %}